@charset "UTF-8";

/* Todas as demais medias */

/* Typecal device breakpoints 
Pequenas Telas: até 480px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 1024px até 1366px 
Grandes Telas: acima de 1366px
*/

@media print { /* Impressora */
    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: 3px  solid rgba(0, 0, 0, 0.623);
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        color: rgb(51, 51, 51);
    }
    
    img#impressora {display: block;}
    img#smartphone {display: none;}
}

@media screen and (min-width:768px) and (max-width:992px) { /* Tablet */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#smartphone {display: none;}
    img#tablet {display: block;}

    main {
        background-color: rgba(201, 201, 202, 0.473);
        width: 500px;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) { /* Desktop */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#smartphone {display: none;}
    img#desktop {display: block;}

    main {
        background-color: rgba(128, 54, 197, 0.459);
        width: 700px;
    }
}
@media screen and (min-width:1200px) { /* Grandes Telas */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#smartphone {display: none;}
    img#tv {display: block;}

    main {
        background-color: rgba(240, 248, 255, 0.568);
        width: 800px;
    }
}