@charset "UTF-8";

div.container {
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: 2fr 4fr 2fr ;
    gap: 5px;
}

.topo {
    background-color: blue;

}

.menu {
   background-color: red;
}

.principal {
    background-color: yellow;
}

.secundario {
    background-color: black;
}

.rodape {
    background-color: green;
}