@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(106, 158, 255);
}

header {
    background-color: gray;
}

header h1 {
    text-align: center;
    padding: 15px;
    color: blue;
    text-shadow: 2px 2px 0px rgb(58, 58, 58);
}

div#burguer {
    background-color: rgb(205, 231, 255);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;  
}

div#burguer:hover {
    background-color: rgb(144, 203, 255);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(44, 44, 44);
    border-top: 3px solid rgb(20, 19, 19);
    display: block;
    padding: 15px;

}

menu > ul > li > a:hover {
    background-color: rgba(5, 130, 247, 0.5);
}

main {
    width: 90vw;
    background-color: rgb(111, 190, 255);
    border-radius: 12px;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

h2 {
    color: white;
    text-shadow: 1px 2px 1px blue;
    padding: 10px;
}

article > h2 {
    margin-bottom: 20px;
}

article > p {
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 20px;
}